:root {
    font-size: 16px;
    line-height: 1.2;
}

body {     
    font-family: Butler, Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1rem;   
    color: black;
    background: white;
}

main {
    max-width: 90rem;
    margin: 0 auto;   
}

.invisible {
    display: none;
}

.nav {
    text-align: center;
    padding: 4rem 8.5rem;
}

.section {
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
    position: relative; 
    /* background-color: blue;  */
}

.text {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;   
}

.text-item::after {
    content: " /";
}

.text-item:last-child::after {
    content: "";
}

.quote {
    font-weight: 200;
    font-size: 2rem;
}

.label {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.text_caption {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#list_title {
    font-size: 5.8rem;   
}

li {
    font-size: 2.2rem;   
}

a {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

a span {
    font-weight: 400;
}

#Hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.hero_title_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;    
    font-size: 5.5rem;
    padding: 1.5em 1em;
    white-space: nowrap;
}

.main_title {
    font-size: 1em;
 }

.title {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 0.2em;
    position: absolute;
    width: 100%;
    left: 0;
}

.box_title {
    font-size: 5.5rem;
    width: 85%;
 }

 .subtitle {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    position: absolute;
    z-index: 1;
}

.subtitle_biography {    
    transform: rotate(-90deg);
    bottom: 0;
    right: 0;
}

.col_left, .col_right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
}

.col_right {
    /* background-color: cadetblue; */
}

#Biography img {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 554px;
    max-height: 840px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.box_right {
    padding: 0 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    height: 3px;
    width: 50px;
}





